<div class="container-fluid">
  <form [(formGroup)]="myForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" [class.is-invalid]="myForm.controls.username.invalid && myForm.controls.username.touched" class="form-control col-6">

      <p class="text-danger" *ngIf="myForm.controls.username.invalid && myForm.controls.username.touched">
          Must contain at least 3 charaters
        </p>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" [class.is-invalid]="myForm.controls.email.invalid && myForm.controls.email.touched" class="form-control col-6">
      <small class="text-danger" *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">
          Email not valid
      </small>
    </div>
    <div class="form-group" formGroupName="passwords">
      <label>Mot de passe</label>
      <input type="password" formControlName="password1" [class.is-invalid]="myForm.controls.passwords.controls.password1.invalid && myForm.controls.passwords.touched" placeholder="Mot de passe" class="form-control col-6">
      <p class="text-danger" *ngIf="myForm.controls.passwords.errors?.short && myForm.controls.passwords.touched">
          Must contain at least 6 charaters
        </p>
        <p class="text-danger" *ngIf="myForm.controls.passwords.errors?.nocapital && myForm.controls.passwords.touched">
          Must contain at least one capital letter
        </p>
        <p class="text-danger" *ngIf="myForm.controls.passwords.errors?.nodigit && myForm.controls.passwords.touched">
          Must contain at least 1 digit
        </p>
      <label>Confirmer le Mot de passe</label>
      <input type="password" formControlName="password2" [class.is-invalid]="myForm.controls.passwords.errors?.invalid && myForm.controls.passwords.controls.password2.touched" placeholder="Confirmer le Mot de passe" class="form-control col-6">

     
      <p  class="text-danger" *ngIf="myForm.controls.passwords.errors?.invalid && myForm.controls.passwords.controls.password2.touched">
        Password does not match
      </p>
    </div>
    <button [disabled]="myForm.invalid" class="btn btn-primary">Valider</button>
  </form>
</div>