<mat-card>
  <mat-card-title>Create New Post</mat-card-title>
  <mat-card-content>
    <form [formGroup]="myForm" (submit)="addPost()">
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Post Title">
          <mat-error *ngIf="myForm.controls.title.invalid">THE TITLE FIELD IS REQUIRED</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="body" rows="6" placeholder="Post Body"></textarea>
          <mat-error *ngIf="myForm.controls.body.invalid">THE BODY FIELD IS REQUIRED</mat-error>
        </mat-form-field>
      </div>
      <button [disabled]="myForm.invalid || myForm.pristine" type="submit" mat-raised-button color="primary">Add Post</button>
    </form>
  </mat-card-content>
</mat-card>


