<mat-card>
  <mat-card-title>Update Post</mat-card-title>
  <mat-card-content>
    <form [formGroup]="updateForm" (submit)=" updatePost(updateForm.controls.title.value, updateForm.controls.body.value) ">
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="title" #title placeholder="Post Title">
          <mat-error *ngIf="updateForm.controls.title.invalid">THE TITLE FIELD IS REQUIRED</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="body" #body rows="6" placeholder="Post Body"></textarea>
          <mat-error *ngIf="updateForm.controls.body.invalid">THE BODY FIELD IS REQUIRED</mat-error>
        </mat-form-field>
      </div>

      <button [disabled]="updateForm.invalid || updateForm.pristine" tupe="submit"  mat-raised-button color="primary">Edit Post</button>
    </form>
  </mat-card-content>
</mat-card>


