<div class="container-fluid">
    <form [formGroup]="myForm">
        {{ myForm.value | json }}
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Username</label>
              <input type="text"  formControlName="username" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="email" class="form-control"  formControlName="email"  placeholder="Email">
            </div>
        </div>
      <div class="form-row" formGroupName="passwords">
        <div class="form-group col-md-3">
          <label>Mot de passe</label>
          <input type="email" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group col-md-3">
          <label>Confirmer le mot de passe</label>
          <input type="password" class="form-control"  formControlName="cpassword" placeholder="Repeat Password">
        </div>
      </div>
     
      <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>
