<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">
    
    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" name="username" [(ngModel)]="userModel.name" [class.is-invalid]="name.invalid && name.touched" class="form-control">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="userModel.email" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" 
        [class.is-invalid]="phone.invalid && phone.touched" name="phone" class="form-control" [(ngModel)]="userModel.phone">
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option selected>I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
      <label class="form-check-label">Evening (5PM - 8PM)</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
        <label class="form-check-label">Evening (5PM - 8PM)</label>
    </div>

    <div class="form-check mb3">
      <input class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>